*{
    text-decoration: none;
}
.navbar{
    background: #6191b0 ; 
    font-family: Calibri; 
    padding-left: 15px; 
    padding-right: 15px;
    width: 100%;
    position: relative;
}
.navdiv{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.logo{
    padding-top: 10px;
    padding-bottom: 10px;
}
.in_navi{
    display: inline-block; 
    justify-content: space-between;
    list-style: none;
}
.in_navi a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 25px;
}
.body{
    background-image: url('bgcorporateclimb.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur();
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.herosec{
    text-align: center;
    color: black;
    padding: 12px 24px;
}
.cta-button {
    background-color: #e68536; 
    color: #fff;              
    border: none;             
    padding: 20px 24px;        
    font-size: 16px;           
    border-radius: 5px;       
    cursor: pointer;           
    transition: background-color 0.3s ease; 
}

.cta-button:hover {
    background-color: #45ec9e; 
}

.footer {
    background-color: #333;   
    color: white;            
    padding: 30px 0;         
    text-align: center; 
    width: 100%;     
    position: fixed;  
    bottom: 0;
}

.footer-content {
    display: flex;            
    justify-content: space-around; 
    flex-wrap: wrap;       
    max-width: 1600px;
    margin: 0 auto;            
}

.footer-section {
    margin: 10px 0;           
}

.footer-section h4 {
    margin-bottom: 10px;     
    font-size: 15px;
    text-transform: uppercase; 
}

.footer-section p {
    margin: 5px 0;
}

.social-link {
    display: block;            
    color: white;              
    text-decoration: none;     
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #007bff;       
}

.footer-bottom {
    border-top: 1px solid #555; 
    padding-top: 10px;
    margin-top: 20px;
    font-size: 14px;
}